﻿@{ Html.RenderPartial("~/Components/issueState.cshtml"); }


<div>
    <div class="container">
        <div class="row" data-bind="if: canAdd">
            <button class="btn btn-default" data-bind="click: addItem">Add New</button>
        </div>
        <div class="row">
            <div class="col-md-1">
                <span>Id</span>
            </div>
            <div class="col-md-5">
                <span>Name</span>
            </div>
        </div>
        <div class="row" data-bind="foreach: issueStates">
            <div data-bind="component: {name: 'issue_state', params: $data}"></div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Ko/Components/issueState.js"></script>
    <script src="~/Ko/Db/issueStatesImpl.js"></script>
    <script src="~/Ko/Controllers/IssueState/Index.js"></script>
}


