﻿@inherits System.Web.Mvc.WebViewPage
<script id="issue" type="text/html">
    <div class="row" style="margin-top: 5px;">
        <div class="container issue" data-bind="style: { background: isNew() ? 'greenyellow' : 'white' }">
            <div class="row">
                <div class="col-md-1">
                    <input class="input form-control" type="checkbox" title="Executed"
                           data-bind="checked: Executed, attr: { 'disabled': isNew}"/>
                </div>
                <div class="col-md-2">
                    <select class="input form-control" title="Issue State"
                            data-bind="value: IssueStateId, options: issueStates, 
                                optionsText: 'Name',  optionsValue: 'Id',  attr: { 'readonly': isViewMode}">
                    </select>
                </div>
                <div class="col-md-6">
                    <input class="input form-control" title="Name"
                           data-bind="value: Name, attr: { 'readonly': isViewMode}"/>
                </div>
                <div class="col-md-1" data-bind="ifnot: isNew">
                    <label title="DateCreate"
                           data-bind="text: moment(DateCreate()).format('YYYY-MM-DD')">
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <textarea id="description" rows="1" title="Description"
                              class="input form-control" data-bind="value: Description, attr: { 'readonly': isViewMode}"></textarea>
                </div>
                <div class="col-md-2">
                    <div class="btn-group" data-bind="if: isViewMode">
                        <button class="btn btn-default glyphicon glyphicon-edit" type="button" data-bind="click: editItem" title="Edit"></button>
                        <button class="btn btn-default glyphicon glyphicon-trash" type="button" data-bind="click: deleteItem" title="Remove"></button>
                        <button class="btn btn-default glyphicon glyphicon-plus" type="button" data-bind="click: addItem" title="Add New Sub Issue"></button>
                    </div>
                    <div class="btn-group" data-bind="ifnot: isViewMode">
                        <button class="btn btn-default glyphicon glyphicon-ok" type="button" data-bind="click: saveItem" title="Ok"></button>
                        <button class="btn btn-default glyphicon glyphicon-remove" type="button" data-bind="click: cancelEdit" title="Cancel"></button>
                    </div>
                </div>
            </div>
            <div class="form-group row" data-bind="if: issues().length > 0" >
                <div class="container">                    
                    <div class="row" style="margin-left: 5px;" data-bind="foreach: issues">
                        <div data-bind="component: {name: 'issue', params: $data}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>