﻿@inherits System.Web.Mvc.WebViewPage

<script id="issue_state" type="text/html">
    <div class="row">
        <div class="col-md-1">
            <input class="input form-control" readonly="true" data-bind="value: Id"/>
        </div>
        <div class="col-md-5">
            <input class="input form-control"
                   data-bind="value: Name, attr: { 'readonly': isViewMode}"/>
        </div>
        <div class="col-md-3">
            <div class="btn-group" data-bind="if: isViewMode">
                <button class="btn btn-default glyphicon glyphicon-edit" type="button"  data-bind="click: editItem" title="Edit"></button>
                <button class="btn btn-default glyphicon glyphicon-trash" type="button" data-bind="click: deleteItem" title="Remove"></button>
            </div>
            <div class="btn-group" data-bind="ifnot: isViewMode">
                <button class="btn btn-default glyphicon glyphicon-ok" type="button" data-bind="click: saveItem" title="Ok"></button>
                <button class="btn btn-default glyphicon glyphicon-remove" type="button" data-bind="click: cancelEdit" title="Cancel"></button>
            </div>
        </div>
    </div>
</script>