﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskman</title>

    <script src="//code.jquery.com/jquery-2.2.0.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>

    @RenderSection("style", required: false)
    @functions{
        public string BaseUrl()
        {
            var temp = new Uri(Request.Url, Url.Content("~"));
            return temp.ToString();
        }
    }
    <script type="text/javascript">
        function getBaseUrl() {
            return '@BaseUrl()';
        }
    </script>
    

</head>
<body>
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Issues", "Index", "Home")</li>
                    <li>@Html.ActionLink("Importance", "Index", "IssueState")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
