﻿.filter {
    background: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 10px;
    padding: 5px;
}

.issue {
    border: 1px solid orange;
    border-radius: 10px;
    padding: 5px;
}