﻿@{ Html.RenderPartial("~/Components/issue.cshtml"); }

@section style
{
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css"/>
    <script src="~/Ko/ko.jquery.datepicker.js"></script>
}

<div>
    <div class="container">
        <div class="row" data-bind="if: canAdd">
            <button class="btn btn-default glyphicon-plus" data-bind="click: addItem">AddNewIssue</button>
        </div>
        <div class="row filter">
            <div class="col-md-1">
                <select class="input form-control" title="Executed filter"
                        data-bind="value: filter.Executed, options: executedList,
                                optionsText: 'Name',  optionsValue: 'Value'"></select>
            </div>
            <div class="col-md-2">
                <select class="input form-control" title="Issue State filter"
                        data-bind="value: filter.IssueStateId, options: issueStatesForFilter,
                                optionsText: 'Name',  optionsValue: 'Id'"></select>
            </div>
            <div class="col-md-3">
                <input type="date" class="input form-control" placeholder="Name filter" title="Name filter"
                       data-bind="value: filter.Name"/>
            </div>
            <div class="col-md-2">
                <input class="input form-control" placeholder="Date create filter" title="Date create filter"
                       data-bind="datepicker: filter.DateCreate, datepickerOptions: { dateFormat: 'yy-mm-dd' }"/>
            </div>
            <div class="col-md-3">
                <input type="date" class="input form-control" placeholder="Description filter" title="Description filter"
                       data-bind="value: filter.Description"/>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default glyphicon glyphicon-filter" type="button" data-bind="click: loadIssues" title="Filter"></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <label for="count">Count:</label>
                <label id="count" data-bind="text: paging.count"></label>
            </div>

            <div class="col-md-2" data-bind="foreach: paging.pages">
                <span data-bind="if: isSelected">[</span>
                <a style="cursor: default" data-bind="text: link, click: href"></a>
                <span data-bind="if: isSelected">]</span>
            </div>

            <div class="col-md-2">
                <label for="pageSize">Page Size: </label>
                <select id="pageSize" class="input " title="Issue State"
                        data-bind="value: paging.pageSize, options: paging.pageSizes"></select>
            </div>
           
        </div>
        <div class="row" data-bind="foreach: issues">
            <div data-bind="component: {name: 'issue', params: $data}"></div>
        </div>
       
    </div>
</div>


@section scripts
{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js"></script>
    <script src="~/Ko/Components/issue.js"></script>
    <script src="~/Ko/Db/issuesImpl.js"></script>
    <script src="~/Ko/Db/issueStatesImpl.js"></script>
    <script src="~/Ko/Controllers/Home/Index.js"></script>
}


